{% extends 'template/admin/_post.twig' %}
{% block page_name %}Mailer{% endblock %}
{% block body %}
  <section class="content">
    <div class="card">
        <div class="card-body">
          Mailer Settings
        </div>
    </div>
  </section>
{% endblock %}